body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    color: teal;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 1em;
}

td, th {
    border: 1px solid black;
    padding: 0.5em;
}

th {
    background-color: lightgray;
}

.right {
    text-align: right;
}

input[type="text"] {
    width: 3em;
    margin-right: 0.5em;
}

input[type="submit"] {
    padding: 0.3em 0.8em;
}

form {
    display: inline;
    margin: 0;
}